.container{
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.btnrow{
    margin-top: 60px;
    width: auto;
    border-radius: 10px;
    
}
.editrow{
    margin-top: 15px;
}