::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(var(--dark-darker-color),1);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--dark-normal-color),1);
}
nav{
  top: 80px;
  z-index: 999;
  position:fixed;
  background: rgba(var(--dark-darkest-color),1);
  width:250px;
  height:calc(100% - 110px);
  left:0px;
  overflow-y: visible;
  overflow-x: hidden;
  box-shadow: 0 0 3px black;
  transition: all 1s;
  &.menuHidden{
      left: -250px;
  }
}
.navControl{
  top: 80px;
  position:fixed;
  left:250px;
  background-color:rgba(var(--dark-darkest-color),1);
  color:rgba(var(--light-lightest-color),1);
  z-index:99;
  padding:8px 12px;
  font-size:24px;
  box-shadow: 0 0 3px rgba(var(--dark-darkest-color),1);
  border-bottom-right-radius:12px;
  transition: all 1s;
  width: 45px;
  height: 52px;
  &:hover{
      background: rgba(var(--dark-darker-color),1);
      cursor: pointer;
  }
  &.menuHidden{
      left: 0px;
  }
}
section{
  top: 80px;
  position:fixed;
  z-index: 9;
  background:#fffffe;
  width:calc(100% - 250px);
  left:250px;
  height:calc(100% - 110px);
  overflow-y: auto;
  transition: all 1s;
  &.menuHidden{
      width:100%;
      left: 0px;
  }
}

@media only screen and (max-width:500px){
  nav{
      width:100%;
      height:calc(100% - 110px);
      left:0px;
      overflow-y: visible;
      &.menuHidden{
          left:calc(0px - 100%);
      }
  }
  .navControl{
      left: calc(100% - 45px);
      z-index:9999;
      font-size:24px;
      border-bottom-left-radius:12px;
      border-bottom-right-radius:0px;
      &.menuHidden{
          border-bottom-left-radius:0px;
          border-bottom-right-radius:12px;
          left: 0px;
      }
  }
  section{
      width:100%;
      left:100%;
      overflow-y: auto;
      &.menuHidden{
          left: 0px;
      }
  }
}
