<table class="table table-hover table-striped text-center">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">URL</th>
            <th scope="col">Dil</th>
            <th scope="col">Listeleniyor mu?</th>
            <th scope="col">Adı</th>
            <th scope="col">Tarih</th>
            <th scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody>        
        <tr *ngFor="let i of array; index as j">
            <td>{{i.id}}</td>
            <td>{{i.data.url}}</td>
            <td>{{i.data.lang}}</td>
            <td>{{i.data.isListed}}</td>
            <td>{{i.data.categoryName}}</td>
            <td>{{i.data._syncDate}}</td>
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#editModal">Detay</button>
                <button class="btn btn-success">
                    <a [routerLink]="['/admin/kategoriler/:id']">Duzenle</a>
                </button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#deleteModal">Sil</button>
            </td>
        </tr>       
    </tbody>
</table>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Detaylar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                detay1
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Sil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Veriler Silinsin mi?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Sil</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Hayır</button>                
            </div>
        </div>
    </div>
</div>