<div *ngIf="backdropOn"
    style="width: 100%; height: 100%; background-color: black; opacity: 0.5; position: fixed; left: 0; top: 0;">
</div>

<table class="table table-hover table-striped text-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">URL</th>
            <th scope="col">Dil</th>
            <th scope="col">Listeleniyor mu?</th>
            <th scope="col">Adı</th>
            <th scope="col">Tarih</th>
            <th scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of array; index as j">
            <td>{{j+1}}</td>
            <td>{{i.data.url}}</td>
            <td>{{i.data.lang}}</td>
            <td>{{i.data.isListed ? 'Evet' : 'Hayır'}}</td>
            <td>{{i.data.categoryName}}</td>
            <td>{{i.data._syncDate}}</td>
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal"
                    (click)="delId=i.id; detCat=i.data.url">Detay</button>
                <button class="btn btn-success">
                    <a [routerLink]="['/admin/kategoriler/'+i.id]">Düzenle</a>
                </button>
                <button type="button" class="btn btn-danger" data-backdrop="false" data-bs-toggle="modal"
                    data-bs-target="#deleteModal" (click)="backdropToggle();delId=i.id">Sil</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Detaylar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>{{detCat}}</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="false" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Sil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="backdropToggle()"></button>
            </div>
            <div class="modal-body">
                Veriler Silinsin mi?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    (click)="backdropToggle(); deleteCat()">Sil</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                    (click)="backdropToggle()">Hayır</button>
            </div>
        </div>
    </div>
</div>