.talep{
    float: right;
    position: relative;  
    right: +20px;
}

.diger{
    float: right;

}
.ikon1{
    font-size: 48px;
    
}

.ikon2{
    font-size: 48px;
    
    
}
.ikon3{
    font-size: 48px;
    
    
}
