<!-- <div class="container"> -->
    <div class="row">
      <div class="col">
        DESTEK
      </div>
      <div class="col">
        <button class="btn btn-primary diger"> ? </button>
        <button class="btn btn-success talep">Yeni Talep </button>
      </div>
    </div>
  <!-- </div> -->
<div class="row" style="margin-top: 16px;">
    <div class="col-4">
        <div class="p-3 mb-2 bg-warning text-black">
            MUHASEBE
            <i class="fas fa-money-bill-wave ikon1"></i>         
        </div>        
    </div>
    <div class="col-4">
        <div class="p-3 mb-2 bg-primary text-white">
            TEKNİK

            <i class="fas fa-cogs ikon2">
                <div class="fixed-bottom"></div>
            </i>

        </div>
    </div>
    <div class="col-4">
        <div class="p-3 mb-2 bg-secondary text-white">
            DİĞER
            <i class="fas fa-braille ikon3"></i>
        </div>
    </div>    
</div>