<!-- <div class="container"> -->
    <div class="row">
      <div class="col">
        DESTEK
      </div>
      <div class="col">
        <button class="btn btn-primary diger"> ? </button>
        <button class="btn btn-success talep">Yeni Talep </button>
      </div>
    </div>
  <!-- </div> -->
<div class="row" style="margin-top: 16px;">
    <div class="col-4">
        <div class="mhsb p-3 mb-2 bg- text-white ">
                <div style="text-align: left;"><h4>MUHASEBE</h4></div> <br>
                <div style="text-align: right;"><i class="ikon fas fa-money-bill-wave" id="muhasebe"></i></div>                          
        </div>
    </div>
    <div class="col-4">
        <div class="p-3 mb-2 bg-primary text-white ">
            <div style="text-align: left;"><h4>TEKNİK</h4></div> <br>                                    
            <div style="text-align: right;"><i class="fas fa-cogs ikon" id="teknik"></i></div>
        </div>
    </div>
    <div class="col-4">
        <div class="p-3 mb-2 bg-secondary text-white ">            
             <div style="text-align: left;"><h4>DİĞER</h4></div> <br>                       
            <div style="text-align: right;"><i class="fas fa-braille ikon"id="diger"></i></div>
        </div>
    </div>    
</div>