.talep{
    float: right;
    position: relative;  
    right: +20px;
}
.diger{
    float: right;

}
.ikon{
    font-size: 60px;
    // position:relative;
    // margin-left: 28%;
    // margin-top: 25%;
    // padding-left: 50%;       
}



.mhsb{
    background-color: #a55eea;
}
#muhasebe{
    color:#4c1c54;
}
#teknik{
    color: rgb(13, 35, 107);
}
#diger{
    color:#d1d8e0;
}