<div class="confluit">
  <div class="container con">
    <div class="row m-3">
      <div class="col-12">
        <h2>Giriş Yap</h2>
      </div>
    </div>
    <div class="row m-row">
      <div class="col-12">
        <input class="login" type="email" name="e-mail" id="email" placeholder="E-posta">
      </div>
    </div>
    <div class="row m-row ">
      <div class="col-12">
        <input class="login" type="password" name="password" id="password" placeholder="Şifre">
      </div>
    </div>
    <div class="row m-row">
      <div class="col-6">
        <button class="btnLogin" type="submit">Giriş yap</button>
      </div>
      <div class="col-6">
        <button class="btnSign" type="submit">Kayıt ol</button>
      </div>
    </div>
    <div style="float:left; width: 44%;">
      <hr />
    </div>
    ya da
    <div style="float:right; width: 44%;">
      <hr />
    </div>
    <div class="btnGoogle">
      <button type="submit">
        <i class="fa fa-google bg-primary"></i>
        &nbsp;Google ile Giriş Yap
      </button>
    </div>
  </div>
</div>
