<div class="confluit">
  <div class="container con">
    <div class="row m-3">
      <div class="col-12">
        <h2>Giriş Yap</h2>
      </div>
    </div>
    <div class="row m-row">
      <div class="col-12">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" [(ngModel)]="email" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">E-posta Adresi</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" [(ngModel)]="password" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Şifre</label>
        </div>
      </div>
    </div>
    <div class="row m-row">
      <div class="col-6">
        <button class="btn btn-success" type="submit" (click)="login(email, password)">Giriş yap</button>
      </div>
      <div class="col-6">
        <button class="btn btn-primary" >
          <a href="register" target="blank">
            Kayıt ol
          </a></button>
      </div>
    </div>
    <div style="float:left; width: 44%;">
      <hr />
    </div>
    ya da
    <div style="float:right; width: 44%;">
      <hr />
    </div>
    <div class="">
      <button type="submit" class="btn btn-outline-primary" (click)="loginGoogle()" >
        <i class="fa fa-google"></i>
        &nbsp;Google ile Giriş Yap
      </button>
    </div>
  </div>
</div>