
<div *ngFor="let i of upCatList">

  <div class="container mt-5">

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">URL</span>
      <input type="text" class="form-control" [ngModel]="i.url" (ngModelChange)="upUrl = $event" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Dil</span>
      <input type="text" class="form-control" [ngModel]="i.lang" (ngModelChange)="upLang = $event" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Liste</span>
      <input type="text" class="form-control" [ngModel]="i.isListed" (ngModelChange)="upIsListed = $event" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Adı</span>
      <input type="text" class="form-control" [ngModel]="i.categoryName" (ngModelChange)="upName = $event" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Tarih</span>
      <input type="text" class="form-control" [ngModel]="i._syncDate" (ngModelChange)="upDate = $event" aria-describedby="basic-addon1">
    </div>

    <button class="btn btn-success text-center" type="submit" (click)="updateCategory()">Kaydet</button>

  </div>
</div>
