<h1>Şifre Değiştir</h1>




 
        <div class="row m-row">
            
        
            <div class="offset-0 offset-sm-3 offset-md-3 offset-lg-4 col-12 col-sm-6 col-md-6 col-lg-4 myDiv">
                <div style="width: 100%; text-align: center;">
                    
                    <div class=" eskisfre mb-3"> 
                                               
                        <input  type="password" class="form-control" placeholder="Eski şifre" [(ngModel)]="password"
                            id="opassword" password="opassword" style="margin-top: 26px ;">
                    </div>
                    <div>
                        <input type="password" class="form-control text-success " placeholder="Yeni şifre" [(ngModel)]="newPassword"
                            id="npassword" npassword="npassword">

                            <input [ngClass] ="{'textinput' : hatali}"  type="password" class="form-control mt-3" placeholder="Yeni şifre tekar"
                            [(ngModel)]="passwordAgain" id="secondnpassword" secondnpassword="secondnpassword">
                    </div>
                    
                    <div style="text-align: left;font-size: 13px;color: red;" *ngIf="hatali">                        
                        (*) Girdiğiniz Parolalar Eşleşmiyor
                            
                    </div>

                    <div class="mt-3 mb-3">
                        <input type="email" class="form-control" placeholder = "Email" [(ngModel)]="email" id="email" email="email">
                    </div>
                    <button class="btn btn-success" type="submit" style="background-color: rgb(64, 202, 202);"
                        (click)="passwordCheck(newPassword, passwordAgain)"> Şifre Güncelle  </button>                        
                    
                </div>
            </div>
            
        </div>
    
