<h1>Şifre Değiştir</h1>


<div>
    <input type="password" id="opassword" password="opassword"><br><br>
    <label for="opassword">Eski Parola</label>
    <input type="password" class="form-control" [(ngModel)]="password" id="npassword" npassword="npassword"><br><br>
    <label for="npassword">Yeni Parola</label>
    <input type="password" class="form-control" [(ngModel)]="passwordAgain" id="secondnpassword" secondnpassword="secondnpassword"><br><br>
    <label for="secondnpassword">Yeni Parola Tekrar</label>
    <input type="email" class="form-control" [(ngModel)]="email" id="email" email="email"><br><br>
    <label for="secondnpassword">email</label>
    <button class="btn btn-success" type="submit" (click)="passwordCheck(password, passwordAgain)">Deneme</button>
</div>


<input type="submit" value="Submit">