<h1>Şifre Değiştir</h1>

<div class="confluit">
    <div class="container con">
        <div class="row m-row">
            <div class="offset-4 col-12 col-md-4 col-md-6 col-lg-4">

                <div style="width: 100%; text-align: center;">
                    <div class=" eskisfre mb-3">
                        <input type="password" class="form-control" placeholder="Eski şifre" [(ngModel)]="password"
                            id="opassword" password="opassword" style="margin-top: 26px ;">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Yeni şifre" [(ngModel)]="newPassword"
                            id="npassword" npassword="npassword">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Yeni şifre tekar"
                            [(ngModel)]="passwordAgain" id="secondnpassword" secondnpassword="secondnpassword">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder = "Email" [(ngModel)]="email" id="email" email="email">
                    </div>
                    <button class="btn btn-success" type="submit"
                        (click)="passwordCheck(newPassword, passwordAgain)">Deneme</button>
                </div>
            </div>
        </div>
    </div>
</div> 