footer{
  background-color: rgba(var(--dark-darkest-color),1);
  height: 30px;
  color: rgba(var(--light-darkest-color));
  line-height: 30px;
  text-align: right;
  padding-right: 16px;
  font-size: 14px;
  box-shadow: 0 0 3px black;
}
