<header class="container-fluid">
  <div class="row">
      <div class="col-12 offset-sm-1 col-sm-10 offset-md-1 col-md-5 offset-lg-1 col-lg-3 logo">
          <img src="https://d33wubrfki0l68.cloudfront.net/56dcb429a9a69edace4b3b3aead11056b59f145c/91bcd/logo-w-s.png" alt="" [routerLink]="'/admin'">
      </div>
      <div class="col-0 col-sm-0 col-md-6 offset-lg-1 col-lg-7 rightMenu">
          <div class="buttonArea">
              <i class="fas fa-sign-out-alt" (click)="logout()"></i>
          </div>
      </div>
  </div>
</header>
